
/* Fix submenu nav to have padding from left window */
.rs-nav-utility .rs-nav .rs-nav-item:first-child {
  margin-left: 30px;
}

.rs-nav-utility {
  font-size: 16px;
}

/* give spaces to images from paragraphs */
.post-content img {
  display: block;
  padding: 10px;
  width: 100%; /* fixes zoom issues of image going past panel width */
}

/* content padding/margin was too large between each other */
.post-content .rs-inner {
  margin-top: 10px;
}
.post-content .rs-detail-header {
  padding-bottom: 10px;
}

/* default font size is too small and spacing needs to be larger between lines*/
.post-content p {
  font-size: 15px;
  line-height: 25px;
  text-indent: 25px;
}
