<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="sidebar-myname">{{ site.name }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <br />
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="sidebar-nav-item"><a href="/all_posts.html">All posts</a></li>
      <li class="sidebar-nav-item"><a href="/about.html">About</a></li>
      <li class="sidebar-nav-item"><a href="/resume.txt">Resume</a></li>
      <li class="sidebar-nav-item"><a class="rs-nav-link" href="https://twitter.com/rilt" target="_new">@rilt</a></li>
      <li class="sidebar-nav-item" target="_new"><a href="https://github.com/riltsken">riltsken on github</a></li>
      <li class="sidebar-nav-item"><a href="/atom.xml">Atom Feed</a></li>
    </ul>
  </div>
</div>
